
/*
* BLOQUE DE INFORMACION
*/

#bloqueInformacion {
    width: 1250px;
    margin: 0 auto;   
    padding: 0;
}

#botonInformacion {
    float: right;
    width:100px;
    height:25px;
    padding-left:0px;
    text-align: right;
    font-weight: bold;
    background-image: url(../imagenes/acercaDe.png);    
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;     
    border-radius: 0.8em;
}

#contenedorInformacion {
    display: none;
    position: absolute;
    margin-left: 900px;
    margin-top: 30px;
    width: 400px;
    height: 350px;
    background-image: url(../imagenes/notas.png);     
    background-color: transparent;
    background-size: 100%; 
    background-repeat: no-repeat; 
}

#contenedorTextoIndormacion {
    margin-top: 100px;
    margin-left: 30px;
    width: 300px;
    font-size: 11pt;    
    font-weight: bold;
}

.textoInformacion {
    color: blue;
}

.textoTituloInformacion{
    color: purple;    
}

#botonInformacion:hover {
    background-color: purple;        
}

#botonInformacion:hover ~ #contenedorInformacion {
    display: block;
}


/* zona MUESTRA - TRABAJANDO */

#zonaTrabajando {
    float: left;
    position: absolute;
    height: 100%;
    width: 100%;
}

#contenImgTrabaja {
    width: 100%;
}

#contenImgTrabaja img {
    /* Para centrar la imagen */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#textoZonaTrabajando { 
    margin-top: 100px;
    width: 100%;
    color: purple;
    font-size: 22pt;
    font-family: Arial;
    text-transform: uppercase;    
    font-weight:bold;
    text-align: center;    
    padding: 10px;
}


/*
*   zona PROGRAMA
*/
#zonaPrograma {
    display: none;
}

/*
*   BLOQUE TÍTULO
*/
#zonaTitulo {
    margin: 0 auto;
    width: 1250px;
    /* Texto del Titulo */
    text-align: center;
    font-size: 35pt;
    font-weight: bold;
    color: purple;
    
}


/*
* BLOQUE ADMINISTRAR
*/

#zonaAdministrar {
    margin: 0 auto;
    width: 1250px;  
    height: 780px;
}

/* COLUMNAS ADMINISTRAR */

#zonaCalendario{
    float: left;
    width: 940px;
    height: 780px;
}

#zonaFestivos {
    float: right;
    width: 300px;
    height: 780px;
}


/* ZONA DEL CALENDARIO */

#zonaAño {
    margin-left: 7px;
}

.bloqueMes {
    margin: 5px 5px 5px 0px;
    padding: 0;
    float: left;
    width: 300px;
    height: 180px;
    border:2px solid purple;
    background-color: #eee;
}

.bloqueTituloMes {
    margin: 0;
    padding: 2px 0 2px 0;
    width: 300px;
    height: 18px;
    background-color: limegreen;
    /* Texto del Mes */
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;    
}

.tituloDiasSemana {    
    margin-left: 3px;
    padding: 0;
    width: 296px;
}

.bloqueTextoDiaSemana {
    float: left;
    margin: 6px 0;    
    width: 42px;
    /* Texto del Mes */
    text-align: center;
    font-size: 6.5px;
    font-weight: bold;
    text-transform: uppercase;     
    color: blue;
}

.bloqueDiasSemana {    
    margin-left: 3px;    
    padding: 0;
    width: 296px;
}


.diaSemana {
    float: left;
    width: 38px;    
    /* Texto del Mes */
    text-align: center;
    font-size: 11pt;
    font-weight: bold;   
}

.diaFestivo {
    float: left;
    width: 38px;    
    /* Texto del Mes */
    text-align: center;
    font-size: 11pt;
    font-weight: bold;
    /* Fondo rojo */
    background-color: red;
    border-color: red;
}

.casillaVacia{    
    float: left;
    width: 38px;
    border: 2px solid transparent;
    background-color: #eee;
}


/* ZONA DE FESTIVOS */
#zonaFestivos fieldset {
    height: 750px;
    border: 2px solid purple;
    background-color: #eee;
}

.textoMenu {
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    text-transform: uppercase;    
    color: purple;
}

#contenFestivos {
    float: left;
    width: 130px;
    height: 730px;
    background-color: white;
    /*Barras de desplazamiento */    
    overflow-x: hidden;
    overflow-y: scroll;    
}

.textoFestivo{   
    width: 100px;
    margin: 3px 0;
    border: none;
    /* Propiedades Texto */    
    font-weight: bold;
    font-size: 11pt;
    text-align: center;
}


/*
*   ZONA INFORMACIÓN DE ERRORES
*/

#zonaInformacionErrores {
    /* Ocultamos la información pero manteniendo su espacio */
    visibility: hidden;
    width: 120px;
    height: 275px;
    background-color: #ffff00;
}

#contenedorErrores {
    background-color: transparent;
    border-color: red;
    resize: none;
    font-size: 8pt;
    /*Barras de desplazamiento */    
    overflow-x: hidden;
    overflow-y: scroll; 
}



/*
*   ZONA INFORMACIÓN DE INCIDENCIAS
*/

#zonaInformacionResultados {
    /* Ocultamos la información pero manteniendo su espacio */
    visibility: hidden;
    width: 120px;
    height: 275px;
    background-color: greenyellow;
}

#contenedorIncidencias {
    background-color: transparent;
    border-color: blue;
    resize: none;
    font-size: 8pt;
    /*Barras de desplazamiento */    
    overflow-x: hidden;
    overflow-y: scroll; 
}


/*
*   ZONA DE BOTONES FESTIVOS
*/

#contenBontonsErrores {    
    float: left;
    margin-left: 15px;
}

.zonaBotones {    
    margin-top: 40px;
    width: 120px;
    height: 40px;
}

.botonMenu {
    outline: none;
    width:115px;
    height:35px;
    padding-left:0px;
    text-align: right;
    font-weight: bold;
    background-color: aliceblue;        
    background-repeat: no-repeat;   
    border-radius: 0.8em;
}

#botonGrabar {
    /* Ocultamos la información pero manteniendo su espacio */
    visibility: hidden;    
    background-image: url(../imagenes/aceptar_boton.png);    
}

#botonCancelar {
    /* Ocultamos la información pero manteniendo su espacio */
    visibility: hidden;    
    background-image: url(../imagenes/cancelar_boton.png);
    background-position: 4px;
}

/* Para todos los botones */
.botonMenu:hover {
  border: 2px solid purple;  
  color: red;
}

.botonMenu:focus {  
  border: 2px solid purple;   
  color: red;
}


.cancelarFlotantes {
    clear: both;
}