/*
*   BLOQUE TÍTULO
*/
#zonaTitulo {
    margin: 0 auto;
    width: 1250px;
    /* Texto del Titulo */
    text-align: center;
    font-size: 35pt;
    font-weight: bold;
    color: purple;
    
}


/*
* BLOQUE ADMINISTRAR
*/

#zonaAdministrar {
    margin: 0 auto;
    width: 1250px;  
    height: 780px;
}

/* COLUMNAS ADMINISTRAR */

#zonaCalendario{
    float: left;
    width: 940px;
    height: 780px;
}

#zonaFestivos {
    float: right;
    width: 300px;
    height: 780px;
}


/* ZONA DEL CALENDARIO */

#zonaAño {
    margin-left: 7px;
}

.bloqueMes {
    margin: 5px 5px 5px 0px;
    padding: 0;
    float: left;
    width: 300px;
    height: 180px;
    border:2px solid purple;
    background-color: #eee;
}

.bloqueTituloMes {
    margin: 0;
    padding: 2px 0 2px 0;
    width: 300px;
    height: 18px;
    background-color: limegreen;
    /* Texto del Mes */
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;    
}

.tituloDiasSemana {    
    margin-left: 3px;
    padding: 0;
    width: 296px;
}

.bloqueTextoDiaSemana {
    float: left;
    margin: 6px 0;    
    width: 42px;
    /* Texto del Mes */
    text-align: center;
    font-size: 6.5px;
    font-weight: bold;
    text-transform: uppercase;     
    color: blue;
}

.bloqueDiasSemana {    
    margin-left: 3px;    
    padding: 0;
    width: 296px;
}


.diaSemana {
    float: left;
    width: 38px;    
    /* Texto del Mes */
    text-align: center;
    font-size: 11pt;
    font-weight: bold;   
}

.diaFestivo {
    float: left;
    width: 38px;    
    /* Texto del Mes */
    text-align: center;
    font-size: 11pt;
    font-weight: bold;
    /* Fondo rojo */
    background-color: red;
    border-color: red;
}

.casillaVacia{    
    float: left;
    width: 38px;
    border: 2px solid transparent;
    background-color: #eee;
}


/* ZONA DE FESTIVOS */
#zonaFestivos fieldset {
    height: 760px;
    border: 2px solid purple;
    background-color: #eee;
}

.textoMenu {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;    
    color: purple;
}

.cancelarFlotantes {
    clear: both;
}