

/*
* BLOQUE DE INFORMACION
*/

#bloqueInformacion {
    width: 1250px;
    margin: 0 auto;   
    padding: 0;
}

#botonInformacion {
    float: right;
    width:100px;
    height:25px;
    padding-left:0px;
    text-align: right;
    font-weight: bold;
    background-image: url(../imagenes/acercaDe.png);    
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;     
    border-radius: 0.8em;
}

#contenedorInformacion {
    display: none;
    position: absolute;
    margin-left: 900px;
    margin-top: 30px;
    width: 400px;
    height: 350px;
    background-image: url(../imagenes/notas.png);     
    background-color: transparent;
    background-size: 100%; 
    background-repeat: no-repeat; 
}

#contenedorTextoIndormacion {
    margin-top: 100px;
    margin-left: 30px;
    width: 300px;
    font-size: 11pt;    
    font-weight: bold;
}

.textoInformacion {
    color: blue;
}

.textoTituloInformacion{
    color: purple;    
}

#botonInformacion:hover {
    background-color: purple;        
}

#botonInformacion:hover ~ #contenedorInformacion {
    display: block;
}


/* zona MUESTRA - TRABAJANDO */

#zonaTrabajando {
    float: left;
    position: absolute;
    height: 100%;
    width: 100%;    
}

#contenImgTrabaja {
    width: 100%;
}

#contenImgTrabaja img {
    /* Para centrar la imagen */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#textoZonaTrabajando { 
    margin-top: 100px;
    width: 100%;
    color: purple;
    font-size: 22pt;
    font-family: Arial;
    text-transform: uppercase;    
    font-weight:bold;
    text-align: center;    
    padding: 10px;
}


/*
*   BLOQUE PARA PROGRAMA
*/

#zonaPrograma {
    display: none;
    margin: 0 auto;
    width: 364px;
    background-color: #eee;
    border: 4px solid purple;
}


/*
* BLOQUE AÑO SIGUIENTE
*/

#zonaAñoNuevo {
    margin: 5px 10px;
    border: 2px solid purple;
}


.textoMenu {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;    
    color: purple;
}

#bloqueAñoNuevo {
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;    
    border: 1px solid purple;
    background-color: white;
}


#textoAñoNuevo {
    width: 100%;
    height: 100%;
    text-align: center;
    color: blue;
    font-size: 30pt;
    font-family: Courier;
    font-weight: bold;    
    border: none;
    background-color: transparent;
    
}


/* Para todos los botones */

.botonMenu {
    outline: none;
    width:128px;
    height:30px;
    padding-left:0px;    
    font-weight: bold;
    color: blue;
    background-color: aliceblue;            
    border-radius: 0.8em;
}

.botonMenu:hover {
  border: 2px solid purple;  
  color: red;
}

.botonMenu:focus {  
  border: 2px solid purple;   
  color: red;
}


/* ZONA PARA MOSTRAR INFORMACIÓN DE ERRORES */
#zonaInformacionErrores {
    /* Ocultamos la información pero manteniendo su espacio */
    visibility: hidden;
    margin: 5px 0;
    width: 364px;
    height: 25px;
}

#textoInformacionErrores {
    width: 364px;
    height: 25px;
    text-align: center;
    border: none;
    font-family: Verdana, Arial, sans-serif; 
    font-weight: bold;
    font-size: 9pt;
    color: red;
    background-color : #ffff00;    
}


/*
*   ZONA PARA VISUALIZAR LOS CALENDARIOS
*/

#zonaOpcionesAñoNuevo {
    margin-bottom: 10px;
}

#zonaOpciones {
    margin: 0px 10px;
    height: 100px;    
    background-color: bisque;
    border: 2px solid purple;
}

.bloqueSelecOpciones {    
    width: 320px;
    height: 30px;
}

.textoBloqueOpciones {        
    float: left;    
    margin: 5px 0 0 5px;
    font-family: Verdana, Arial, sans-serif; 
    font-weight: bold;
    font-size: 11pt;
}

.selecOpcion {
    float: left;
    width: 15px;
    height: 25px;
}


/*
*   ZONA PARA ADMINISTRAR CALENDARIO
*/

#zonaAdministrarAñoNuevo{
    margin: 10px 10px;
    height: 45px;    
    background-color: #eee;    
    border: 2px solid purple;
}

.zonaAdministrar {
    float: left;
    margin-top: 8px;
    width: 50%;    
}

#botonCrearAñoNuevo { 
    width: 110px;
    height: 33px;
    background-image: url(../imagenes/boton_añadir.png);    
    background-repeat: no-repeat;    
    text-align: right;
    color: black;
}

#botonCrearAñoNuevo:hover, #botonCrearAñoNuevo:focus {
    color: red;
    border: 2px solid red;
}


#botonCancelarAño { 
    float: right;
    width: 110px;
    height: 33px;
    background-image: url(../imagenes/cancelar_boton.png);
    background-position-x: 2px;
    background-repeat: no-repeat;    
    text-align: right;
    color: black;
}


#botonCancelarAño:hover, #botonCancelarAño:focus {
    color: red;
    border: 2px solid red;
}


/* Para cancelar espacios en Flotantes */

.cancelarFlotantes {
    clear: both;
}